<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buddy.budget.com.budgetbuddy" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.budget.buddy.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.budget.buddy.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.budget.buddy.NewBudgetActivity"
            android:label="@string/title_activity_new_budget"
            android:parentActivityName="com.budget.buddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.MainActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.SharesActivity"
            android:label="@string/title_activity_new_budget"
            android:parentActivityName="com.budget.buddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.MainActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="com.budget.buddy.AddBudgetItemActivity"
            android:label="@string/title_activity_add_budget_item"
            android:parentActivityName="com.budget.buddy.SingleBudgetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.SingleBudgetActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.SingleBudgetActivity"
            android:label="@string/title_activity_single_budget"
            android:parentActivityName="com.budget.buddy.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.MainActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.EditBudgetActivity"
            android:label="@string/title_activity_single_budget"
            android:parentActivityName="com.budget.buddy.SingleBudgetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.MainActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.ShareBudgetActivity"
            android:label="@string/title_activity_share_budget"
            android:parentActivityName="com.budget.buddy.SingleBudgetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.SingleBudgetActivity" />
        </activity>
        <activity
            android:name="com.budget.buddy.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.budget.buddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.budget.buddy.MainActivity" />
        </activity>
    </application>

</manifest>
